@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300&subset=latin,latin-ext);
input {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
  box-sizing: border-box;
  background: #ffffff;
  font-size: 16px;
  display: block;
  padding: 10px;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 0;
}
input:hover {
  background: rgba(255, 255, 255, 0.85);
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #5697b5;
  padding: 0 10px 0 5px;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #5697b5;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #5697b5;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #5697b5;
  padding: 0 10px 0 5px;
}
html {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: 'Open Sans', 'Lato', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  background: url('/assets/img/background.jpg') top center #5aceff;
  padding: 60px 0 0;
}
body nav.mainNavBar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #5697b5;
  box-sizing: border-box;
  padding: 10px;
}
body nav.mainNavBar div.navTitle {
  color: #f5f5f5;
  font-size: 18px;
}
body #container {
  width: 80%;
  max-width: 960px;
  margin: auto;
  font-size: 0;
}
body #container form .imageContainer {
  margin: 10px 0;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  background: #5697b5;
}
body #container form .imageContainer h2 {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: #f5f5f5;
  box-sizing: border-box;
  padding: 10px;
  background: #4a8aa8;
}
body #container form .imageContainer .imagePreview {
  width: 100%;
}
body #container form .imageContainer .avatar {
  width: 50%;
  height: auto;
  transition: background 0.2s ease-in-out;
}
body #container form .imageContainer .avatar:hover {
  background: #427c96;
}
body #container form .imageContainer .selected {
  background: #427c96;
}
body #container form .floatingContainer {
  vertical-align: top;
  display: inline-block;
  width: calc(50% - 10px);
  margin: 10px 0 0 10px;
  background: #5697b5;
}
body #container form .floatingContainer .genericContainer {
  display: block;
}
body #container form .floatingContainer .genericContainer .containerTitle {
  box-sizing: border-box;
  padding: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #f5f5f5;
  background: #4a8aa8;
}
body #container form .floatingContainer .genericContainer .readerOption {
  display: inline-block;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #f5f5f5;
  transition: background 0.2s ease-in-out;
}
body #container form .floatingContainer .genericContainer .readerOption:hover {
  background: #427c96;
}
body #container form .floatingContainer .genericContainer .selected {
  background: #427c96;
}
body #container form .floatingContainer .genericContainer .rewardOption {
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  transition: background 0.2s ease-in-out;
}
body #container form .floatingContainer .genericContainer .rewardOption img {
  width: 100%;
}
body #container form .floatingContainer .genericContainer .rewardOption:hover {
  background: #427c96;
}
body #container form .floatingContainer .submitBtn {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  width: 100%;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Open Sans', 'Lato', sans-serif;
  background: #349079;
  box-sizing: border-box;
  padding: 10px;
  transition: background 0.2s ease-in-out;
}
body #container form .floatingContainer .submitBtn:hover {
  background: #266b5a;
}
@media screen and (max-width: 320px) {
  body #container {
    width: 320px;
  }
  body #container form .imageContainer {
    width: 100%;
  }
  body #container form .floatingContainer {
    width: 100%;
    margin: 10px 0 0;
  }
}
@media screen and (min-width: 321px) and (max-width: 800px) {
  body #container {
    width: 100%;
  }
  body #container form .imageContainer {
    width: 100%;
  }
  body #container form .floatingContainer {
    width: 100%;
    margin: 10px 0 0;
  }
}
@media screen and (min-width: 1921px) {
  body {
    background-size: cover;
  }
}
