@charset "utf-8";

#container {
    width: 80%;
    max-width: 850px;
    margin: auto;
    text-align: center;
}
#container #name {
    width: 100%;
    background: rgba(91, 147, 20, 1);
    padding: 20px 0;
    margin: 60px 0 20px;
    font-family: Lato;
    font-size: 20px;
    color: #fff;
}
#name input {
    padding: 10px;
    margin: 0 10px;
    background: rgba(255,255,255,.8);
    font-size: 16px;
    transition: background .3s;
}
#name input:hover, #name input:focus {
    background: rgba(255,255,255,.6);
}
#reward, #reader {
    background: rgba(91, 147, 20, 1);
    color: #fff;
}
#reward_title, #reader_title {
    font-family: Lato;
    font-size: 20px;
    padding: 20px;
}
#reward .reward_img {
    display: inline-block;
    width: 20%;
    padding: 0 20px;
    transition: background 0.3s;
}
#reward .reward_img:hover {
    background: rgb(89, 116, 22);
    cursor: pointer;
}
#reward .reward_img img {
    display: block;
    width: 100%;
}
#reader {
    margin-top: 20px;
    background: rgba(91, 147, 20, 1);
    color: #fff;
}
#reader_title {
    display: inline-block;
    margin: 0;
}
#reader .reader {
    display: inline-block;
    width: auto;
    font-size: 20px;
    padding: 20px 40px;
    margin: 0 5px 0 0;
    transition: background 0.3s;
}
#reader .reader:hover {
    background: rgb(89, 116, 22);
    cursor: pointer;
}
#submit, #child_image {
    width: 100%;
    margin: 20px 0;
    background: rgba(91, 147, 20, 1);
    padding: 20px 0;
    font-family: Lato;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    transition: background .3s;
}
#submit:hover {
    background: rgb(89, 116, 22);
}
#img_preview {
    max-width: 200px;
    max-height: 175px;
}
#image_title {
    margin: 0 0 20px 0;
}
.avatar {
    width: 20%;
    display: inline-block;
}
.avatar img {
    width: 100%;
}
#add_child_photo {
    display: inline-block;
}
.avatar, #add_child_photo {
    margin: 0 20px;
    vertical-align: middle;
}
#add_child_photo img {
    display: block;
    width: 100%;
    margin: 0;
}
.photo {
    padding: 5px;
}
.photo img {
    display: inline-block;
    margin: 0 !important;
}
.focused {
 background: rgb(89, 116, 22);
}

.focused_photo {
    background: rgb(89, 116, 22);
}