@charset "utf-8";

#container {
    width: 80%;
    max-width: 850px;
    margin: auto;
    text-align: center;
}
#container .category {
    width: 100%;
    background: rgba(91, 147, 20, 1);
    margin: 20px 0;
    font-family: Lato;
    letter-spacing: 1px;
    font-size: 20px;
    cursor:pointer;
    color: #fff;
}
.category .name {
    display: block;
    background: rgb(55, 65, 22);
    padding: 20px 0;
    font-family: Lato;
}
.category .exercise, .category .train {
    display: inline-block;
    width: 49%;
    padding: 20px 0;
    transition: all .3s;
    letter-spacing: 1px;
}
.category .exercise:hover, .category .train:hover {
    background: rgb(89, 116, 22);
}