@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300&subset=latin,latin-ext);
.input {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
  box-sizing: border-box;
  background: #ffffff;
  font-size: 16px;
  display: block;
  padding: 10px;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 0;
}
.input:hover {
  background: rgba(255, 255, 255, 0.85);
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #5697b5;
  padding: 0 10px 0 5px;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #5697b5;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #5697b5;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #5697b5;
  padding: 0 10px 0 5px;
}
html {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}
html body {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  background: url('/assets/img/background.jpg') top center #5aceff;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
}
html body nav {
  z-index: 50;
  background: #5697b5;
  font-family: 'Open Sans', 'Lato', sans-serif;
  color: #f5f5f5;
  font-size: 18px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
html body nav .navTitle {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  font-weight: 400;
}
html body nav .actionBtn {
  cursor: pointer;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  float: right;
  box-sizing: border-box;
  padding: 10px;
  background: #349079;
  transition: background 0.2s ease-in-out;
}
html body nav .actionBtn:hover {
  background: #266b5a;
}
html body #container {
  margin: 60px auto 30px;
  width: 540px;
  display: flex;
  flex-wrap: wrap;
}
html body #container .category {
  box-sizing: border-box;
  position: relative;
  margin: 10px;
  font-family: 'Open Sans', 'Lato', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #f5f5f5;
  letter-spacing: 1px;
  width: 250px;
  display: inline-block;
  height: 250px;
  cursor: pointer;
  background-position: center;
  transition: background 0.2s ease-in-out;
}
html body #container .category[basecolor='#5b9314'] {
  background: #5b9314;
}
html body #container .category[basecolor='#5b9314'] .title {
  background: #4d7d11;
}
html body #container .category[basecolor='#5b9314']:hover {
  background: #3f660e;
}
html body #container .category[basecolor='#243470'] {
  background: #243470;
}
html body #container .category[basecolor='#243470'] .title {
  background: #1e2b5d;
}
html body #container .category[basecolor='#243470']:hover {
  background: #182249;
}
html body #container .category[basecolor='#ad3f75'] {
  background: #ad3f75;
}
html body #container .category[basecolor='#ad3f75'] .title {
  background: #9a3868;
}
html body #container .category[basecolor='#ad3f75']:hover {
  background: #88315c;
}
html body #container .category[basecolor='#db9704'] {
  background: #db9704;
}
html body #container .category[basecolor='#db9704'] .title {
  background: #c28604;
}
html body #container .category[basecolor='#db9704']:hover {
  background: #a97403;
}
html body #container .category .title {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  padding: 20px;
}
html body #container .category .image {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 170px;
  margin: auto;
}
@media screen and (max-width: 320px) {
  html #container {
    width: 320px !important;
  }
  html #container .category {
    margin: 20px auto !important;
    display: block !important;
  }
}
@media screen and (min-width: 321px) and (max-width: 580px) {
  html #container {
    width: 100% !important;
  }
  html #container .category {
    margin: 20px auto !important;
    width: 260px !important;
    display: block !important;
  }
}
@media screen and (min-width: 1921px) {
  html body {
    background-size: cover;
  }
}
